extend layout
block content
  p  We open up new <span style="color:#2196F3"> <strong>doors</strong></span> for international shipments by providing an affordable, secure and innovative way to move items from <span style="color:#2196F3"><strong> US </strong></span>to <span style="color:#2196F3"><strong>India</strong></span>
