doctype
html
  head
    title #{title} - iShipSafe
    link(rel='stylesheet', href='/stylesheets/css/materialize.css', media="screen,projection")
    link(rel='stylesheet', href='/stylesheets/css/style.css', media="screen,projection")
    link(rel='stylesheet', href='/stylesheets/min/plugin-min.css', media="screen,projection")
    link(rel='stylesheet', href='/stylesheets/min/custom-min.css', media="screen,projection")
    script(type='text/javascript' src='/stylesheets/min/plugin-min.js')
    script(type='text/javascript' src='/stylesheets/min/custom-min.js')
  body#top.scrollspy
    div#index-banner.section.no-pad-bot
      .navbar.transparent.navbar-inverse.navbar-fixed
        nav#nav_f.navbar-inner
          .container
            .nav-wrapper
              a#logo-container.brand-logo(href="#top") iShipSafe
              ul#nav-mobile.right.side-nav
                li
                  a(href="#") Home
                li
                  a(href="#work") Destinations
                li
                  a(href="#contact") Contact
              a.button-collapse(href="#", data-activates="nav-mobile")
                i.mdi-navigation-menu

      .container
        br
        br
        br
        br

        .container(style="width:53%;")
          a#logo-container.modal-trigger.btn-flat.btn-icon-main.waves-effect.waves-light(href="#Sender",style="color:#2196F3") 
            i.material-icons Sender
          div#Sender.modal.modal-fixed-footer
            .modal-content
              h4 Sender
              P
                | We are the amazon of shipping.
                | Super-low prices!!
                | 60 % cheaper than FedEx, DHL. Even lower than Garudavega!!!!
                | 
                | Three easy steps: 
                ol
                  li
                    Send email to iShipSafe@gmail.com. Where and what do you want to send to India?
                  li 
                    Know our super-low price estimates. We will pick up your items from your door.
                  li
                    Delivery and Safety Guaranteed.

          a#logo-container.modal-trigger.btn-flat.btn-icon-main.waves-effect.waves-light.right(href="#Flyer",style="color:#2196F3") 
            i.material-icons Flyer
          div#Flyer.modal.modal-fixed-footer
            .modal-content
              h4 Flyer
              P
                | Take our stuff. Earn as much as 150 dollars per bag to India...Wooooow!!
                | 
                | Three easy steps: 
                ol
                  li
                    Send email to iShipSafe@gmail.com. Where and when are you flying to India from bay area?
                  li 
                    Know your reward amount. We will drop off items at your door step in bay area.
                  li
                    Take these items to India. We will pay you your reward amount that we promised.

      
    footer
      p Running on node with Express, Jade and Stylus
